# Python
backend/.venv/
backend/__pycache__/
backend/*.pyc
backend/.env
# React (frontend)
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*
frontend/logs
frontend/*.log
frontend/.env

# React Native (Expo)
mobile/node_modules/
mobile/.expo/
mobile/dist/
mobile/web-build/
mobile/expo-env.d.ts
mobile/.env

# Native
mobile/.kotlin/
mobile/*.orig.*
mobile/*.jks
mobile/*.p8
mobile/*.p12
mobile/*.key
mobile/*.mobileprovision

# Metro
mobile/.metro-health-check*

# Debug
mobile/npm-debug.*
mobile/yarn-debug.*
mobile/yarn-error.*

# Local environment
mobile/.env*.local

# TypeScript
mobile/*.tsbuildinfo

# Generated native folders
mobile/ios/
mobile/android/

# IDE
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db